@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    .nav-element-sm{
       @apply flex justify-center items-center  text-white cursor-pointer gap-x-3  ml-10 text-2xl capitalize
    }
    .nav-element{
        @apply text-[#f3f3f7] shadow-gray-400  text-center cursor-pointer hover:textColor hover:scale-110 ease-in duration-300 capitalize
     }
     .align-element{
        @apply mx-auto max-w-7xl md:px-8 px-3 text-white
     }
     .icon-element{
        @apply h-20 w-20 textColor m-auto hover:animate-bounce shadow-sm 
     }
     .link-main{
        @apply  w-full md:w-[15%]  md:min-w-[10rem] text-lg rounded-md text-center py-1 hover:bgColor textColor hover:scale-110  hover:text-[#181729] duration-300 delay-200 ease-in-out capitalize border-[1px] border-[#f27c6d] 
     }
     .bgColor{
      @apply bg-[#f27c6d]
     }
     .textColor{
      @apply text-[#f27c6d]
     }

}
 
html{
    height: 100%;
}
*{
    scroll-behavior: smooth;
}
body{
    background-color: #181729;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
